body {
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: antiquewhite;
}

.header {
    display: flex;
    height: 10vh;
    background-color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.header p {
    margin: 0;
    font-size: 64px;
}

.main {
    padding-right: 10%;
    display: flex;
    justify-content: center;
    height: 80vh;
    background-color: antiquewhite;
    align-items: center;
    gap: 10%;
}

.footer {
    display: flex;
    padding: 0% 10%;
    justify-content: flex-end;
    gap: 8px;
    height: 10vh;
    background-color: antiquewhite;
}

#p1, #p2 {
    color: rgb(163, 163, 3);
    font-style: italic;
    font-family: Georgia, helvetica, Times, serif;
    margin: 0%;
    font-size: 36px;
}

#p2 {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: cornflowerblue;
}

.canvas {
    display: flex;
    background-color: white;
    height: 75%;
    width: 75ch;
    border: 3ch solid;
    border-color: cornflowerblue;
    border-radius: 32px;
    justify-content: stretch;
    padding: 2px;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 65%;
    width: 35ch;
    border: 1px solid;
    border-color: cornflowerblue;
    border-radius: 2%;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square {
    background-color: white;
    border: 1px solid;
    border-color: black;
    border-radius: 25%;
    flex: 1;
}

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color p {
    padding: 0%;
    margin: 0%;
    font-size: 48px;
}

.color_buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

button {
    background-color: cornflowerblue;
    border: 0.5ch solid;
    border-color: cornflowerblue;
    border-radius: 9px;
}

.color_button {
    padding: 2% 4%;
}

.active {
    border-color: black;
}

.reset_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset_section button {
    padding: 5% 10%;
}

.regenerate_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slidecontainer {
    display: flex;
    align-items: center;
}

.regenerate {
    padding: 5% 10%;
}

.regenerate_section p {
    font-size: 48px;
    margin: 2% 0%;
}